header {
    background-color: lightpink;
}

body{
    background-color: thistle;
}

h1{
    font-family: 'Dancing Script', cursive;
}

.bolo {
width: 40%;
}

.caixa {
    width: 940px;
    margin: 0 auto;
}

nav li {
    display: inline;
    margin: 0 0 0 112px;
    color: mediumorchid;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

